/* Project Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

body {
    font-family: Lato, Verdana, sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Young Serif', 'Lucida sans', serif;
    font-weight: 500;
}

@media (max-width: 900px) {
    body {
        font-size: 16px;
    }
}

/* Colors  */

:root {
    color: var(--clr-neutral-black);
    background-color: var(--clr-neutral-lightest);
    --primary-hue: 180;
    --primary-sat: 30%;
    --secondary-hue: calc(var(--primary-hue) * 2.2);
    --secondary-sat: calc(var(--primary-sat) * 3);

    --clr-primary: hsl(var(--primary-hue), var(--primary-sat), 20%);
    --clr-primary-accent: hsl(calc(var(--primary-hue) - 20), 65%, 30%);
    --clr-primary-light: hsl(var(--primary-hue), 20%, 85%);
    --clr-primary-white: hsl(var(--primary-hue), 10%, 90%);
    --clr-primary-dark: hsl(var(--primary-hue), 45%, 10%);
    

    --clr-secondary: hsl(var(--secondary-hue), var(--secondary-sat), 40%);
    --clr-secondary-light: hsl(var(--secondary-hue), var(--secondary-sat), 90%);
    --clr-secondary-dark: hsl(var(--secondary-hue), var(--secondary-sat), 10%);

    --clr-neutral: hsl(0, 0%, 45%);
    --clr-neutral-light: hsl(0, 0%, 65%);
    --clr-neutral-lighter: hsl(0, 0%, 75%);
    --clr-neutral-lightest: hsl(0, 0%, 97%);
    --clr-neutral-dark: hsl(0, 0%, 30%);
    --clr-neutral-black: hsl(0, 0%, 10%);

    --clr-transparent: transparent;
    --clr-shadow: 1px 10px 25px -10px rgba(0,0,0,0.5);
    --border-radius: 5px;
    --border-radius-min: 5px;

    --clr-info: hsl(220, 90%, 40%);
    --clr-success: hsl(140, 90%, 40%);
    --clr-warning: hsl(35, 90%, 50%);
    --clr-danger: hsl(0, 90%, 40%);
}

.dark-mode {
    color: var(--clr-neutral-lightest);
    background-color: var(--clr-primary-dark);

    --clr-primary: hsl(var(--primary-hue), var(--primary-sat), 30%);
    --clr-primary-accent: hsl(calc(var(--primary-hue) - 30), 65%, 30%);
    --clr-primary-light: hsl(var(--primary-hue), 20%, 90%);
    --clr-primary-white: hsl(var(--primary-hue), 20%, 25%);
    --clr-primary-dark: hsl(var(--primary-hue), 45%, 10%);

    --clr-secondary: hsl(var(--secondary-hue), var(--secondary-sat), 50%);
    --clr-secondary-light: hsl(var(--secondary-hue), var(--secondary-sat), 90%);
    --clr-secondary-dark: hsl(var(--secondary-hue), var(--secondary-sat), 10%);

    --clr-transparent: transparent;
    --clr-shadow: 1px 10px 25px -10px rgba(0,0,0,0.5);

    --clr-neutral: hsl(0, 0%, 45%);
    --clr-neutral-light: hsl(0, 0%, 65%);
    --clr-neutral-lighter: hsl(0, 0%, 75%);
    --clr-neutral-lightest: hsl(0, 0%, 97%);
    --clr-neutral-dark: hsl(0, 0%, 30%);
    --clr-neutral-black: hsl(0, 0%, 10%);
}

.dark-mode h1 {
    color: var(--clr-primary-light);
}

h1 {
    color: var(--clr-primary);
}

a {
    color: var(--clr-primary);
    text-decoration: none;
}

a:hover {
    color: var(--clr-secondary);
}

a.reverse {
    color: var(--clr-primary-light);
    text-decoration: none;
}

/* Masthead */

section#masthead {
    min-height: calc(80dvh);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-white);
    position: relative;
    overflow: hidden;
}

#blob-01 {
    position: absolute;
    top: 0;
    right: 0;
}

/* Content */

.content h2 {
    font-size: 2.35rem;
}
